<ion-header>
  <ion-toolbar>
    <ion-title>Landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    Welcome
  </h1>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
    </ion-col>
  </ion-row>
</ion-content>